.main {
    background-color: paleturquoise;
}

#center {
    text-align: center;
}

#center>strong {
    color: blue;
    background: rgb(238, 238, 70);

}

p strong {
    color: red;
}

h3 {
    color: green;
}